name: {{ name }}
parameters:
{% for node in parameters %}
  - node: {{ node.node }}
{% if node.parameter_files %}
    parameter_files:
{% for param_name, param_path in node.parameter_files.items() %}
      - {{ param_name }}: {{ param_path }}
{% endfor %}
{% else %}
    parameter_files: []
{% endif %}
{% if node.configurations %}
    configurations:
{% for config in node.configurations %}
      - name: {{ config.name }}
        type: {{ config.type }}
        value: {{ config.value }}
{% endfor %}
{% else %}
    configurations: []
{% endif %}
{% endfor %}